@import url('https://fonts.googleapis.com/css?family=Balsamiq+Sans:700|Open+Sans:400,600&display=swap');

$xlight-green: #d3facf;
$light-green: #25ad17;
$green: #168f09;
$dark-green: #0b7600;
$xdark-green: #085800;

$light-purple: #ddb5ed;
$purple: #a657c5;
$dark-purple: #340247;

$light-orange: #ffe5ba;
$orange: #af6f0b;
$dark-orange: #6b4200;

$header-font: 'Balsamiq Sans', cursive;
$normal-font: 'Open Sans', sans-serif;

.container {
  background-image: linear-gradient(to right top, $xlight-green, #fff, $light-orange);
  min-height: 100vh;
}
section {
  max-width: 750px;
  margin: 2em auto 0 auto;
  h1 {
    font-size: 3em;
    font-family: $header-font;
    line-height: 2.2em;
    color: $green;
    width: 100%;
    margin: 0;
    display: inline;
  }
  .home-paragraph {
    border: 2px solid $orange;
    margin: 0 1em;
    background: $light-orange;
    padding: 1.5em;
    font-size: 1.15em;
    line-height: 1.8em;
  }
}

.movies {
  background: $xlight-green;
  margin: 1.5em;
  padding: 1em;
  border: 2px solid $purple;
  h3 {
    font-family: $header-font;
    font-size: 1.8em;
    margin-bottom: 0.1em;
    padding-bottom: 0.05em;
    color: $dark-purple;
    padding-top: 0.1em;
    margin-top: 0;
  }
  p {
    font-family: $normal-font;
    line-height: 0.7em;
  }
}
button {
  font-size: 1em;
  padding: 0.5em 0.7em;
  margin: 0.5em;
  border: none;
  border-radius: 0.2em;
  &:hover {
    cursor: pointer;
  }
}

.delete {
    background-color: lightcoral;
  &:hover {
    background-color: rgb(218, 106, 106);
  }
}
.update {
  background-color: lightsteelblue;
  &:hover {
    background-color: rgb(149, 176, 212);
  }
}
.new {
  background-color: $xlight-green;
  margin: 2em 0.5em;
  &:hover {
    background-color: $light-green;
  }
}
span.page-num {
  margin: 5px;
  padding-bottom: 50px;
  /* color: blue; */
  font-size: 16px;
  color: $purple;
}

span.page-num.active {
  color: $dark-purple;
  font-weight: bolder;
  font-size: 20px;
}